* {
    margin: 0;
}

body {
    background-color: white;
    color: black;
}

#navbar {
    background-color: #020617;
    color: white;
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 15px;
    height: 50px;
}

#navbar-left {
    display: flex;
    justify-content: start;
    align-items: center;
}

#navbar-right {
    display: flex;
    justify-content: end;
    align-items: center;
}


.newBook {
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
    width: 130px;
    height: 35px;
    border-width: 1px;
    color: #fff;
    border-color: #18ab29;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
    text-shadow: 1px 1px 0px #2f6627;
    background: #44c767;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newBook:hover {
    background: #5cbf2a
}

.addButton {
    height: 25px;
    width: auto;
}

.newBook span {
    margin: 10px;
    margin-right: 5px;
}

dialog {
    animation: fade-out 0.7s ease-out;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8fafc;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: black;
    text-align: center;
    height: 400px;
    width: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hasRead{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

dialog input{
    margin: 10px auto;
}

dialog[open] {
    animation: fade-in 0.7s ease-out;
}

dialog[open]::backdrop {
    animation: backdrop-fade-in 0.7s ease-out forwards;
}

/* Animation keyframes */

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scaleY(0);
        display: none;
    }

    100% {
        opacity: 1;
        transform: scaleY(1);
        display: block;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: scaleY(1);
        display: block;
    }

    100% {
        opacity: 0;
        transform: scaleY(0);
        display: none;
    }
}

@keyframes backdrop-fade-in {
    0% {
        background-color: rgb(0 0 0 / 0);
    }

    100% {
        background-color: rgb(0 0 0 / 0.25);
    }
}
